<h4>
  <a href='#'>大四喜</a>
  <span class="text-muted small"> /点击表格可看各交易所差价 </span>
  <div class="btn-group">
    <button type="button" class="btn btn-default" data-ng-class="{active: currency == 'RMB'}" data-ng-click="currency = 'RMB'">RMB</button>
    <button type="button" class="btn btn-default" data-ng-class="{active: currency == 'USD'}" data-ng-click="currency = 'USD'">USD</button>
    <button type="button" class="btn btn-default" data-ng-class="{active: currency == 'CAD'}" data-ng-click="currency = 'CAD'">CAD</button>
  </div>
  <span class='label label-default'>{{currentRate()}}</span>
</h4>
<table class='table table-bordered'>
  <tr>
    <th>Diff</th>
    <th>Exchange</th>
    <th>Last</th>
    <th>Sell</th>
    <th>Buy</th>
    <th>High</th>
    <th>Low</th>
    <th>Vol</th>
    <th>Seconds Ago</th>
  </tr>
  <tr data-currency='{{currency}}' data-ticker-exchange='{{exchangeName}}' data-currency-type='bitcoin' data-exchanges='bitcoinExchanges' data-ng-repeat='exchangeName in bitcoinExchangeNames'
    data-ng-click='select(exchangeName, "bitcoin")' data-ng-class='{active: bitcoinExchanges[exchangeName].selected}'></tr>
  <tr class='warning'><td></td><td colspan=8>LTC</td><tr>
  <tr data-currency='{{currency}}' data-ticker-exchange='{{exchangeName}}' data-currency-type='litecoin' data-exchanges='litecoinExchanges' data-ng-repeat='exchangeName in litecoinExchangeNames'
    data-ng-click='select(exchangeName, "litecoin")' data-ng-class='{active: litecoinExchanges[exchangeName].selected}'></tr>
</table>
